/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
	background:url(../img/layout/bg-body.jpg);
	margin:0;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.border {
	position:relative;
	margin: 25px 0;
	-moz-box-shadow:    3px 3px 4px 0px #a3a3a3;
	-webkit-box-shadow: 3px 3px 4px 0px #a3a3a3;
	box-shadow:         3px 3px 4px 0px #a3a3a3;
	border-top:1px solid #9a9a9a;
	background:#e3e3e3;
}
.page {
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
#bg {
	background:url(../img/layout/bg-sidebar.jpg);
	height: 99.8%;
	left: 0;
	margin: 0;
	position: absolute;
	text-indent: -99999px;
	width: 51%;
	z-index: 0;
	border-color: #E5E5E5;
	border-style: solid none none;
	border-width: 1px;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Header ------------------------*/
.sidebar {
	width:150px;
	float:left;
	height:auto;
	position: relative;
}
.sidebar ul {
	padding:0;
	margin:0;
	list-style:none;
}
.sidebar ul li:first-child {
	padding-top:0;
}
.sidebar ul li {
	text-align:right;
	padding:29px 27px 0 0;
}
.sidebar ul li.selected a, .sidebar ul li a:hover {
	color:#6b6b6b;
}
.sidebar ul li a {
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size:24px;
	color:#919191;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	line-height:30px;
	text-shadow:0 1px 0 #dfdfdf;
}

/*------------------------- Body ------------------------*/
.body {
	float:left;
	width:728px;
	position: relative;
	background:url(../img/layout/bg-body.png) repeat-y #e3e3e3;
	/*min-height:1394px;*/
	height:auto;
	padding: 0 0 25px;
	border-color: #dfdfdf;
	border-style: none none none solid;
	border-width: 1px;
}
.body div {
	margin:23px 0 0 21px;
	background:#fff;
	-moz-box-shadow: 0 0 5px 3px #d3d3d3;
	-webkit-box-shadow: 0 0 5px 3px#d3d3d3;
	box-shadow: 0 0 5px 3px #d3d3d3;
	overflow:hidden;
}
.body div h2 {
	color: #919191;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #7d7d7d;
	padding:36px 0 0 22px;
	margin:0;
}
.body div p {
	font-family: 'Conv_Muli-Italic';
	font-size:16px;
	line-height:24px;
	color:#808080;
	padding:0 0 0 22px;
	margin: 23px 0 30px;
}
.body div div {
	background:none;
	box-shadow:none;
	margin: 0 21px;
}

