html {
  background: url(la_sierra_view.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
    text-decoration:none;
    color:#32A5E7;
}

code {
    background-color: #d3d3d3;
    color: darkblue;
    display: block;
    overflow: auto;
}

body {
    font:14px Arial, Helvetica, sans-serif;
    margin:4px 0px 0px 0px;
    line-height:20px;
}

#main {
    width:1016px;
    margin:0px auto;
}

.pageBlock {
    width:1016px;
    padding:5px;
    background-color:rgba(255,255,255,0.80);
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:20px 0px;
    position: relative;
}

#loginControl {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    font-size:14px;font-family:Arial Narrow, rial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    text-align: center;
}

#buttons {
    background: #32a5e7;
    text-align:center;
    height:50px;
}

#buttons {
    width:100%;
    background-color: #3a8bb2;
    position: absolute;
    top: 0px; left: 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    margin: 0px;
    padding: 0px;"
}

#buttons ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#buttons li {
    display:inline;
}

#buttons a {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    font-size:18px;
    display:block;
    float:left;
    -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    height:37px;
    text-decoration:none;
    color:#fff;
    padding-top:11px;
    width:170px;
}

#buttons a:hover {
    /*text-decoration:underline;*/
    /*border: #dfdfdf solid thin;*/
    background: rgba(72, 117, 178, 0.84)
}

#right {
    width:285px;
    margin:0;
    float:right;
    padding: 5px;
}

#right h1 {
    color: #276FC0;
    font-size: 15pt;
}

.front_page_text {
    padding:10px 0px 0px 5px;
    text-align: justify;
}

.imgFloat {
    float:left;
    margin:5px 16px 5px 0px;
}

#right span {
    color:#276FC0;
    font-weight:bold;
}

#left span {
    color:#276FC0;
    font-weight:bold;
}

.post_title {
    color:#276FC0;
}

.post_container {
    border-radius: 10px;
}

.short_post {
    padding: 10px;
    width:240px;
    height: 240px;
    overflow: hidden;
    text-align: justify;
    background-image: -webkit-gradient(#32a5e7, rgba(255,255,255,0) 15%);
    background-image: linear-gradient(to bottom, #32A5E7, rgba(255,255,255,0) 15%);
    border-radius: 10px;
}

#left H2 {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:100;
    color:#3890E5;
    padding-top:12px;
    padding-left:0;
    text-align:left;;
}

.read {
    text-align:right;
    padding-right:10px;
    padding-top:5px;
    font-weight:bold;text-decoration:none;
}

#left {
    float:left;
    width:695px;
    margin-left:0;
    padding:0px 0px 0px 0px;
}



/*#footer {*/
    /*text-align: center;*/
    /*height: 50px;*/
    /*background: -webkit-gradient(#32A5E7, #ffffff);*/
    /*background: linear-gradient(to bottom, #32A5E7, white);*/
/*}*/