a:hover {
    text-decoration:none;
    color:#32A5E7;
}

code {
    background-color: #d3d3d3;
    color: darkblue;
    display: block;
    overflow: auto;
}

body {
    font:12px Arial, Helvetica, sans-serif;
    background: -webkit-gradient(#32A5E7, #ffffff);
    background: linear-gradient(to bottom, #32A5E7, white);
    margin:4px 0px 0px 0px;
    line-height:20px;
}

#main {
    width:1016px;
    margin:0px auto;
}

.pageBlock {
    width:1016px;
    padding:3px;
    background-color: white;
    border:black solid thin;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:3px;
    position: relative;
}

#loginControl {
    position: absolute;
    right: 10px;
    top: 10px;
    /*z-index: 999;*/
    font-size:14px;font-family:Arial Narrow, rial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    text-align: center;
}



#buttons {
    background: #32A5E7;
    text-align:center;
    height:50px;
}

#buttons ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#buttons li {
    display:inline;
}

#buttons a {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    font-size:18px;
    display:block;
    float:left;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height:37px;
    text-decoration:none;
    color:#fff;
    padding-top:11px;
    width:168px;
}

#buttons a:hover {
    text-decoration:underline;
    border: #dfdfdf solid thin;
    background: #3487e7;
}

#right {
    width:285px;
    margin:0;
    float:right;
    color:#000;
}

.right_b {
    background:url(../img/lyout/fish.png) 10px 17px no-repeat;
    padding-left:32px;
    padding-top:15px;
    width:240px;
    height: 210px;
    overflow: hidden;
    text-align: justify;
}

.text {
    padding:10px 0px 0px 5px;
    text-align: justify;
}

.imgFloat {
    float:left;
    margin:5px 16px 5px 0px;
}

#right span {
    color:#276FC0;
    font-weight:bold;
}

#left span {
    color:#276FC0;
    font-weight:bold;
}

.col_b {
    color:#276FC0;
}

#right H1 {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:100;
    color:#fff;text-align:center;
    height:32px;
    padding-top:12px;
}

#left H2 {
    font-family:Arial Narrow, Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:100;
    color:#3890E5;
    padding-top:12px;
    padding-left:0;
    text-align:left;;
}

.read {
    text-align:right;
    padding-right:10px;
    padding-top:5px;
    font-weight:bold;text-decoration:none;
}

#left {
    float:left;
    width:695px;
    margin-left:0;
    padding:0px 0px 0px 0px;
}

.tit_bot {
    background:url(../img/lyout/right_tit_bot.jpg) left top no-repeat;
    padding:5px 0 0px 0px;
}

#footer {
    text-align: center;
    height: 50px;
    background: -webkit-gradient(#32A5E7, #ffffff);
    background: linear-gradient(to bottom, #32A5E7, white);
}



