{% extends "template.html" %}
{% block head %}
<style>
    #about_logos{
        border: solid darkgray;
        margin:0px 100px;
        border-radius: 15px;
    }

    #about_logos * {
        text-align: center;
    }

    #about_logos > div{
        width: 49%;
        display: inline-block;
        vertical-align: top;
        text-align: center;"
    }

    #about_logos img{
        vertical-align: top;
        width: 90%;
    }

    .sidebysidelogo{
        width:46%;
        display: inline-block;
        
    }
    
    .sidebysidelogo img{
        width:98%;
    }

    .logo_group{
        border: solid darkgray;
        margin:7px;
        border-radius: 10px;
    }

    .logo_group > img{
        width: 95%;
    }

    .logo_group2 > img{
        width: 60%;
    }
</style>

{% endblock %}

{% block content %}
    <h3>About Open Terrain Map</h3>
    <div style="width: 500px; text-align: justify; padding-left: 20px;">
        <p>
            As a Peace Corps volunteer charged with the design and implementation of small scale
            water and sanitation infrastructure projects, I found a need for a way
            to quickly generate preliminary designs and cost estimates.  This application aims to fill that
            need by generating designs based on user input of digitized features such as
            the location of houses, known restrictions to construction, and desired locations of
            water tanks or water treatment facilities.  An added benefit is to take the focus off the
            technical aspects of the project.  Community organization and empowerment of leaders
            is the key to projects that not only are built but continue to be successful.<br/>
            <br/>
            Any design algorithms will require  global coverage of reasonably accurate elevation models.
            This has and will continue to require substantial effort to process and store the elevation models,
            The thought of a more general application by which users could access the information arose.
            It is the hope that Open Terrain Map will support a variety of applications such as watershed analysis,
            disaster planning and recovery, and others that implement digital elevation data.<br/>
        </p>
    </div>
    <div id='about_logos'>
        <div>
            <h1>Server Side</h1>
            <div class='logo_group'>
                <h1>Web Framework</h1>
                <a href="http://flask.pocoo.org/"> <img src="{{ url_for('static',filename='img/flask_logo.png') }}"></a>
                <div class='sidebysidelogo'>
                    <a href="http://werkzeug.pocoo.org/"> <img src="{{ url_for('static',filename='img/werkzueg_logo.png') }}"></a>
                </div>
                <div class='sidebysidelogo'>
                    <a href="http://jinja.pocoo.org/docs/"><img src="{{ url_for('static',filename='img/jinja_logo.png') }}"></a>
                </div>
            </div>
            <div class='logo_group'>
                <h1>Database</h1>
                <div class='sidebysidelogo'>
                    <a href="http://www.postgresql.org/"> <img src="{{ url_for('static',filename='img/postgresql_logo.png') }}"></a>
                </div>
                <div class='sidebysidelogo'>
                    <a href="http://postgis.net/"> <img src="{{ url_for('static',filename='img/postgis_logo.png') }}"></a>
                </div>
            </div>
            <div class='logo_group'>
                <h1>Abstraction</h1>
                <div class='sidebysidelogo'>
                    <a href="http://www.sqlalchemy.org/"> <img width="40%" src="{{ url_for('static',filename='img/sqlalchemy_logo.png') }}"></a>
                </div>
                <div class='sidebysidelogo'>
                    <a href="https://geoalchemy-2.readthedocs.org/en/latest/"> <img width="40%" src="{{ url_for('static',filename='img/geoalchemy_logo.png') }}"></a>
                </div>
            </div>
        </div>
        <div>
            <div class='logo_group2'>
                <h1>Client Side</h1>
                <div class='logo_group'>
                    <h2 style="text-align: center;">Browser Based Mapping</h2>
                    <a href="http://openlayers.org/"> <img src="{{ url_for('static',filename='img/openlayers_logo.png') }}"></a>
                    <br/>
                    <br />
                </div>
                <div class='logo_group'>
                    <h2>Other JavaScript Libraries</h2>
                    <a href="http://dojotoolkit.org/"> <img src="{{ url_for('static',filename='img/dojo_logo.png') }}"></a>
                    <br/>
                    <br/>
                    <a href="http://jquery.com/"> <img src="{{ url_for('static',filename='img/jquery_logo.png') }}"></a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

{#    <div style="border: solid darkgray; border-radius: 10px; margin;20px;">#}
{##}
{#        <p style="border-right: solid darkgray;width: 49%; display: inline-block; vertical-align: top; text-align: center;">#}
{##}
{#            <a href="http://flask.pocoo.org/"> <img width="90%" src="{{ url_for('static',filename='img/flask_logo.png') }}"></a>#}
{#            <span style="width:49%"></span>#}
{#            <span style="width:49%;"></span>#}
{##}
{#            #}
{#            #}
{#            #}
{#            <br/>#}
{#        </p>#}
{#        <p style="width: 49%; display: inline-block; vertical-align: top; text-align: center;">#}
{#           #}
{#           #}
{#        </p>#}
{#    </div>#}

{#        <a href="http://www.gdal.org/"> <img src="{{ url_for('static',filename='img/gdal_logo.png') }}"></a>#}

{#        <a href="http://www.scipy.org/"><img src="{{ url_for('static',filename='img/scipy_logo.png') }}"></a>#}


{% endblock %}