<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    {% if title %}
    <title>Web Based Infrastructure Design - {{title}}</title>
    {% else %}
    <title>Web Based Infrastructure Design</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatestyle.css') }}">
    <script type=text/javascript>
        $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
        console.log('hat');
    </script>
    {% block head %}{% endblock head%}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% endwith %}

	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">
			<nav class="sidebar">
				<ul>
                    <li {% if title=='Home' %}class="selected"{% endif %}>
						<a href="{{ url_for('index') }}">Home</a>
					</li>
                    <li {% if title=='Projects' %}class="selected"{% endif %}>
						<a href="{{ url_for('getProjects') }}">Projects</a>
					</li>
                    <li {% if title=='Open Terrain Map - Blog' %}class="selected"{% endif %}>
						<a href="{{ url_for('blog') }}">Blog</a>
					</li>
                    <li {% if title=='Open Terrain Map - About' %}class="selected"{% endif %}>
						<a href="{{ url_for('about') }}">About</a>
					</li>
                    <li {% if title=='Open Terrain Map - Contact' %}class="selected"{% endif %}>
						<a href="{{ url_for('contact') }}">Contact</a>
					</li>
				</ul>
				<footer style="margin: 50px;">
					Copyright &copy2013
				</footer>
			</nav>
			<div class="body">
				<div>
                    {% if g.user.is_authenticated() %}
                        <span style='position: absolute; right:10px;'>Logged in as: <b>{{g.user.nickname}}</b>
						&nbsp;&nbsp;<a href="{{ url_for('logout') }}">Logout</a></span>
                    {% endif %}
					<h2>Web Based Infrastructure Design</h2>
                    <div style="height: 800px;">
                        {% block content %}{% endblock content%}
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>