{% extends "template.html" %}
{% block head %}
    <style>
        div p, h4, h3 {
            width: 500px;
            padding-left: 20px;
            text-align: justify;
        }
    </style>

{% endblock %}
{% block content %}
    <div>

        <h1>Image Format</h1>
        <p>
            The elevation models are shown and downloaded in the same format as they are saved in the
            in the database.  In the interests of storage savings and the ability to send the images to
            browsers, the images were converted from the 32 bit .tif images to 3 band RGB images.  In order
            to accommodate the range in elevation values within the context of 8 bit integers, the images
            were converted as follows;
        </p>
        <h4>Red Band = whole integer value of elevation divided by 256</h4>
        <h4>Green Band = whole number remainder</h4>
        <h4>Blue Band  = the decimal portion times 255, rounded to to the nearest whole number</h4>
        <p>
            The following raster algebra will produce an elevation model with values of +/- 4 mm of that in the
            original raster.  The values R,G,and B denote the values of the red, green, and blue bands respectively.
            Improvements that will let the user download the model with a single band representing the true elevation
            values is in development.
        </p>
        <h4>Elevation Value = R * 256 + G + B / 255</h4>
        <br/>
        <br/>
        <h1>URL structure</h1>
        <span>{{ request.url_root }}getdem?outformat=<<b>Output Format</b>>&insrid=<<b>SRID Code</b>>&outsrid=<<b>SRID Code</b>>&geom=<<b>Geometry Well Known Text</b>></span>
        <h1>Input Parameters</h1>
        <h3>SRID Code</h3>
        <p>
            The spatial reference identifiers for the input geometry and the returned image.
            The default SRID is 4326 for WGS 1984.  SRID 3857 is the most commonly used
            reference for working with web mercator maps.
        </p>
        <h3>Output Format</h3>
        <p>
            <ul>
                <li><b>imagepng</b> Returns a png image to the browser.  This is the default.</li>
                <li>
                    <b>base64png</b> The base 64 representation of the PNG.  <br/>This is useful for
                    adding the returned results to an image tag or url in the <br/>context of
                    src/url = "data:image/png;base64,<<i>base 64 string</i>>"</li>
                <li><b>zip</b> Returns the image and an xml with projection information in a zip file</li>

            </ul>
        </p>
        <h3>Geometry Well Known Text</h3>
        <p>
            The well known text (WKT) representation of the polygon input geometry with
            the following format for an input geometry with four corners points P1 trhough P4, each
            with coordinates x and y.  Note the double parentheses and that first point is repeated at the end to represent
            the closure of the polygon<br/>
            <i>POLYGON((P1X P1Y,P2X P2Y,P3X P3Y,P4X P4Y,P1X P1Y))</i>
        </p>
        <h1>Examples</h1>

        <h2>Get PNG image</h2>
        <a href="{{ request.url_root }}getdem?outformat=imagepng&insrid=4326&outsrid=3857&geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))">
            {{ request.url_root }}getdem?outformat=imagepng&insrid=4326&outsrid=3857&<br/>geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))
        </a>

        <h2>Get PNG base 64 String</h2>
        <a href="{{ request.url_root }}getdem?outformat=base64png&insrid=4326&outsrid=3857&geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))">
            {{ request.url_root }}getdem?outformat=base64png&insrid=4326&outsrid=3857&<br/>geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))
        </a>

        <h2>Download image with spatial reference</h2>
        <a href="{{ request.url_root }}getdem?outformat=zip&insrid=4326&outsrid=3857&geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))">
            {{ request.url_root }}getdem?outformat=zip&insrid=4326&outsrid=3857&<br/>geom=POLYGON((-71.02308 19.037060,-71.01501 19.017667,-70.97570 19.015314,-70.99355 19.037953,-71.02308 19.037060))
        </a>

    </div>
{% endblock %}

