{% extends "template.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/terrainMap.js') }}"></script>
{% endblock %}
{% block content %}
        <div id="right">
            <h1>Latest Posts</h1>
            <div class="tit_bot">
                <div class="right_b">
                    <span class="col_b">{{ post0Title }}</span><br/>
                        {{ post0Body|safe }}
                </div>
{#                <div class="read"><a href="#"><img src="{{ url_for('static', filename='img/lyout/b_read.gif')}}" alt="" /></a></div>#}
                <div class="right_b">
                    <span class="col_b">{{ post1Title }}</span><br/>
                    {{ post1Body|safe }}
                </div>
{#                <div class="read"><a href="#"><img src="{{ url_for('static', filename='img/lyout/b_read.gif') }}" alt="" /></a></div>#}
            </div><br/>
        </div>
        <div id="left">
            <a href='{{ url_for('terrainMap') }}'><h2>Continously Improving Terrain Model</h2></a>
            <div class="text">
                <a href='{{ url_for('terrainMap') }}'><img src="{{ url_for('static', filename='img/terrainMapImg.png') }}"
                     width="202" height="150" class="imgFloat" alt=""/></a>
                <span>
                    The best available terrain information is processed to create a hydrologically correct moedel
                    that can be used for a variety of applications.
                </span><br/>
                Elevation models available from NASA and the USGS are saved as raster images.  Where available,
                LIDAR data is used to create locally high resolution models. Additionally,
                features such as lakes and rivers are used for further processing to create hydraulically correct
                models.  The result is a world wide coverage digital elevation model that is continuously being refined
                and is served as a web map tile service.  The model can be used for a variety of applications including
                disaster response, watershed analysis, and preliminary infrastructure design.
                <br/>
{#                 <div class="read">#}
{#                     <a href="#"><img src="{{ url_for('static', filename='img/lyout/b_read.gif') }}" alt="" /></a>#}
{#                 </div>#}
            </div>
            <a href='{{ url_for('infraExample') }}'><h2>Terrain Based Applications</h2></a>
            <div class="text">
                <a href='{{ url_for('infraExample') }}'><img src="{{ url_for('static', filename='img/infraMapImg.png') }}"
                     width="202" height="150" class="imgFloat" alt="" /></a>
                <span>
                    Preliminary infrastructure design is possible with the digital terrain map maintained by
                    Open Terrain Map.  The first design generation algorithms are being built for gravity fed
                    drinking water supply systems and low bore sanitary sewer systems.
                </span>
                <br/>
                Where the elevation model does not provide adequate resolution, the best available model
                is resampled using a spline technique to allow for a reasonably high resolution with which
                to produce a preliminary design for small scale infrstructure projects.  The idea was focused
                on projects in the developing world but it would likely be useful rural and small town projects
                as well.  The goal is to take the focus off the technical aspects of infrastructure design and
                to dedicate attention to community, financial, and logistic organization which leads to
                more sustainable projects.
                <br/>
{#                <div class="read">#}
{#                    <a href="#"><img src="{{ url_for('static', filename='img/lyout/b_read.gif') }}" alt="" /></a>#}
{#                </div>#}
            </div>
        </div><br/>
        <div style="clear: both"></div>

{#    <p>#}
{#        The goal of this application is to provide users with a quick method for users to develop#}
{#        preliminary designs and cost estimates for small water supply and sanitation projects.#}
{#    </p>#}
{% endblock %}