{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>')
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:')
            openid = openid.substr(0, u) + user
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid
    }
    </script>
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            Please enter your OpenID, or sign in with one of the free providers below:<br>
            {{form.openid(size=80)}}
            {% for error in form.errors.openid %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
            |{% for pr in providers %}
            <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
            {% endfor %}
        </p>
        <p>{{form.remember_me}} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
    <p><small>No username or password information is accessed or stored on this site.
    On initial sign in, you will be asked to allow access to your email address
    associted with your OpenID provider.  Email addresses will not be sold or distributed and will
    only be used for notification regarding the status of your projects.</small>
    </p>
{% endblock %}