<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>Open Terrain Map - {{title}}</title>
        {% else %}
            <title>Open Terrain Map</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.min.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.min.js') }}"></script>
        <link href="{{ url_for('static', filename='css/tmplstyle.css') }}" rel="stylesheet" type="text/css" />
        <script type=text/javascript>
            $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
            console.log('hat');
        </script>
        {% block head %}{% endblock head%}
    </head>
    <body>
    {#{% with messages = get_flashed_messages() %}#}
    {#{% if messages %}#}
    {#<ul>#}
    {#{% for message in messages %}#}
    {#    <li>{{ message }} </li>#}
    {#{% endfor %}#}
    {#</ul>#}
    {#<hr>#}
    {#{% endif %}#}
    {#{% endwith %}#}
        <div id="main">
        <!-- header -->
            <div id="header">

                <div class='pageBlock' id="buttons">
                    <ul>
                        <li><a href="{{ url_for('index') }}" class="but" title="">Home</a></li>
                        <li><a href="{{ url_for('blog') }}" class="but" title="">Blog</a></li>
                        <li><a href="{{ url_for('getProjects') }}" class="but" title="">Projects</a></li>
                        <li><a href="{{ url_for('about') }}" class="but" title="">About</a></li>
                        <li><a href="{{ url_for('contact') }}" class="but" title="">Contact</a></li>
                    </ul>
                </div>
                <div class='pageBlock'>
                    <img src="{{ url_for('static', filename='img/lyout/logo.jpg') }}" alt='logo' />
                    <div id="loginControl" class="pageBlock">
                        {% if g.user.is_authenticated() %}
                            Logged in as: <br/>
                            <b>{{g.user.nickname}}</b>&nbsp;<a href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                            <b>Login Here</b><br/>
                            <a href="{{ url_for('login') }}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        <!-- / header -->
        <!-- content -->
            <div class='pageBlock'>
                {% block content %}{% endblock content%}
            </div>
        <!-- / content -->
        <!-- footer -->
{#            <div id="footer" class='pageBlock'>#}
{#                &copy;<script>var d = new Date(); document.write(d.getFullYear().toString());</script>#}
        {#		Copyright 2013. Designed by <a>Free Flash Templates</a><br/>#}
        {#		<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>#}
{#            </div>#}
{#        <!-- / footer -->#}
{#        </div>#}
    </body>
</html>