<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>Open Terrain Map - {{title}}</title>
        {% else %}
            <title>Open Terrain Map</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='js/dojo/dijit/themes/soria/soria.css')}}">
        <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.min.js') }}"></script>
        <link href="{{ url_for('static', filename='css/tmplstyle.css') }}" rel="stylesheet" type="text/css" />
{#        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>#}
        <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
        <script src='{{url_for('static', filename='js/OpenLayers.js')}}'></script>
{#        <script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script>#}
{#        <script src='http://openlayers.org/dev/OpenLayers.js'></script>#}
        <script src='{{url_for('static', filename='js/dojo/dojo/dojo.js')}}' djConfig="parseOnLoad: true"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
        </script>
        {% block head %}{% endblock head%}
    </head>
    <body class='soria'>
    {#{% with messages = get_flashed_messages() %}#}
    {#{% if messages %}#}
    {#<ul>#}
    {#{% for message in messages %}#}
    {#    <li>{{ message }} </li>#}
    {#{% endfor %}#}
    {#</ul>#}
    {#<hr>#}
    {#{% endif %}#}
    {#{% endwith %}#}
        <div id="main">
        <!-- header -->
        <div id="header">
            <div class='pageBlock' style='position: relative;'>
                <img src="{{ url_for('static', filename='img/lyout/banner.png') }}" alt='logo' width='1000'/>
                <span style='position: absolute; left:320px; top: 80px; font-size: 64px; color: white;
                text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;'>
                    <b>Open Terrain Map</b>
                </span>
                <div id="loginControl" class="pageBlock">
                    {% if g.user.is_authenticated() %}
                        Logged in as: <br/>
                        <b>{{g.user.nickname}}</b>&nbsp;<a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <b>Login Here</b><br/>
                        <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </div>
            </div>


        </div>
        <!-- / header -->

        <div class='pageBlock' style="padding-top: 40px;">
            <nav id='buttons'>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="{{ "nav_here" if title == "Home" else "" }}">Home</a></li>
                    <li><a href="{{ url_for('getDem') }}" class="{{ "nav_here" if title == "Get Data" else "" }}">Get Data</a></li>
                    <li><a href="{{ url_for('getProjects') }}" class="{{ "nav_here" if title == "Projects" else "" }}">Projects</a></li>
                    <li><a href="{{ url_for('tutorials') }}" class="{{ "nav_here" if title == "Tutorials" else "" }}">Tutorials</a></li>
                    <li><a href="{{ url_for('about') }}" class="{{ "nav_here" if title == "About" else "" }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}" class="{{ "nav_here" if title == "Contact" else "" }}">Contact</a></li>
                </ul>
            </nav>
            <!-- content -->
            {% block content %}{% endblock content%}
            <!-- / content -->
        </div>




        <!-- footer -->
{#            <div id="footer" class='pageBlock'>#}
{#                &copy;<script>var d = new Date(); document.write(d.getFullYear().toString());</script>#}
        {#		Copyright 2013. Designed by <a>Free Flash Templates</a><br/>#}
        {#		<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>#}
{#            </div>#}
{#        <!-- / footer -->#}
{#        </div>#}
    </body>
</html>