<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>Open Terrain Map - {{title}}</title>
        {% else %}
            <title>Open Terrain Map - Map</title>
        {% endif %}
        <script src='{{url_for('static', filename='js/dojo/dojo/dojo.js')}}' djConfig="parseOnLoad: true"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='js/dojo/dijit/themes/soria/soria.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.3.min.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.min.js') }}"></script>
        <script src='{{url_for('static', filename='js/OpenLayers.js')}}'></script>
        <script src='{{url_for('static', filename='js/ExtentLayer.js')}}'></script>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
        <style type="text/css">
            html, body {
              width: 100%;
              height: 100%;
              margin: 0;
            }
            #borderContainer {
              width: 100%;
              height: 100%;
            }
        </style>
        <script>
            $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
            var extentLayer;

            require(["dijit/Dialog", "dijit/form/TextBox", "dijit/form/Button",
                "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
                "dijit/TitlePane", "dijit/form/HorizontalSlider"]);

            var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
            var map;

            dojo.ready(function () {
                var mapDiv = 'map_element';

                var zoomlevels = 20;
                map = new OpenLayers.Map(mapDiv,
                {
                        allOverlays: false,
                        controls: [
                                    new OpenLayers.Control.Navigation({dragPanOptions: {enableKinetic: true}}),
                                    new OpenLayers.Control.PanZoomBar({}),
                                    new OpenLayers.Control.LayerSwitcher({})
                                ],
                        projection: new OpenLayers.Projection("EPSG:3857"),
                        numZoomLevels: zoomlevels,
                        zoom:2
                });

                map.addLayers([
                new OpenLayers.Layer.Google("Hybrid",
                { type: google.maps.MapTypeId.HYBRID, numZoomLevels: zoomlevels}),
                new OpenLayers.Layer.Google("Streets",
                { numZoomLevels: zoomlevels }),
                new OpenLayers.Layer.Google("Satellite",
                { type: google.maps.MapTypeId.SATELLITE, numZoomLevels: zoomlevels}),
                new OpenLayers.Layer.Google("Physical",
                { type: google.maps.MapTypeId.TERRAIN, numZoomLevels: zoomlevels }
                )]);

                map.zoomToMaxExtent();
                extentLayer = new ExtentLayer(map, {}, 'set_extent_radio',true, 'demOpacitySlider');

                document.getElementById('downloadDem').onclick = downloadDemFunction;
            });

            function downloadDemFunction(){
                if (!extentLayer.extentGeom){
                    alert('Select a geometry first');
                    return
                }
                var geomClone = extentLayer.extentGeom.clone();

                geomClone.transform(new OpenLayers.Projection("EPSG:3857"), new OpenLayers.Projection("EPSG:4326"));
                var extentWKT = extentLayer.wktParser.extractGeometry(geomClone);
                var outputSRID = document.getElementById('sridSelect').value;

                var demDownloadUrl = $SCRIPT_ROOT + '/getdem?outformat=zip&insrid=4326&outsrid=' + outputSRID;
                demDownloadUrl += '&geom=' + extentWKT;

                window.open(demDownloadUrl, '_blank');
            }
        </script>
    </head>
    <body class='soria'>
        <div data-dojo-type="dijit/layout/BorderContainer"
            data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true" id="borderContainer">
            <div id='map_element' data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
                <div style="position: absolute; top: 10px; left: 53px; z-index: 999;">
                    <input type="radio" id="DONE_set_extent_radio" name="set_extent_radio" checked="checked"
                    style='display: none;'/>
                    <label for="DONE_set_extent_radio">
                        <img src="{{ url_for('static', filename='img/icons/DONE_on.png') }}"
                                alt="Set Extent Done" title='Deactivate Extent Tools'
                                id='DONE_set_extent_radio_imgLabel' style='margin: 3px;'>
                    </label>
                    <input type="radio" id="POLYGON_set_extent_radio" name="set_extent_radio"
                            style='display: none;'/>
                    <label for="POLYGON_set_extent_radio">
                        <img src="{{ url_for('static', filename='img/icons/POLYGON_off.png') }}"
                                alt="Set Extent"  title='Draw Extent Feature'
                                id='POLYGON_set_extent_radio_imgLabel' style='margin: 3px;'>
                    </label>
                    <input type="radio" id="MODIFY_set_extent_radio" name="set_extent_radio"
                            style='display: none;'/>
                    <label for="MODIFY_set_extent_radio">
                        <img src="{{ url_for('static', filename='img/icons/MODIFY_off.png') }}"
                                alt="Set Extent" title='Modify existing extent'
                                id='MODIFY_set_extent_radio_imgLabel' style='margin: 3px;'>
                    </label>
                    <img src="{{ url_for('static', filename='img/icons/DELETE_on.png') }}"
                        alt="Del Extent" title='Clear extent' style='margin: 3px;'
                            id="CLEAR_set_extent_radio">
                </div>
                <img src="{{ url_for('static',filename='img/loading.gif') }}" id="loading_gif"
                        style="position: absolute; top: 60px; left: 53px; visibility: hidden; z-index: 999;"
                        width="90" height="90">

                <div id='demOpacityTitleContainer' style="position: absolute; left:210px; top:10px; z-index:999; width:200px;">
                    <div id='demOpacityTitle' data-dojo-type="dijit/TitlePane"
                        data-dojo-props="title:'Elevation Opacity', closable:false, open:false, region:'center'"
                        onMouseLeave="var demOp = dijit.byId('demOpacityTitle'); if (demOp.open) demOp.toggle()">
                        <div data-dojo-type="dijit.layout.ContentPane" style="width:200px; height:60px; overflow:auto">
                            <div id="opacitySliderConentDiv">
                                <div id="demOpacitySlider"
                                    style="width:160px;"
                                    data-dojo-type="dijit/form/HorizontalSlider"
                                    data-dojo-props='value:50, minimum: 0, maximum:100,
                                    showButtons:true,
                                    intermediateChanges:false,
                                    discreteValues: 5,
                                    disabled:false'>
                                    <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration"
                                        count=5 style="height:5px;"></div>
                                    <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration"
                                        style="height:1em;font-size:75%;color:gray;">
                                        <li>0%</li>
                                        <li>50%</li>
                                        <li>100%</li>
                                    </ol>
                                </div>
                            </div>
                            <span style="color: gray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set Opacity</span>
                        </div>
                    </div>
                </div>
                <div id='demDownloadContainer' style="position: absolute; left:430px; top:10px; z-index:999; width:160px;">
                    <div id='demDownloadTitle' data-dojo-type="dijit/TitlePane"
                        data-dojo-props="title:'Download', closable:false, open:false, region:'center'"
{#                        onMouseLeave="var demDown = dijit.byId('demDownloadTitle'); if (demDown.open) demDown.toggle()"#}
                            >
                        <label>Output SRID</label><br/>
                        <select id='sridSelect'>
                            <option value="4326" selected='selected'>EPSG 4326</option>
                            <option value="3857" selected='selected'>EPSG 3857</option>
                        </select><br/>
                        <input id='downloadDem' type="button" value="Download" style="margin: 5px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>