
    <!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>hosted Modify Feature</title>
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/defaultstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src='{{url_for('static', filename='js/dojo/dojo/dojo.js')}}'></script>
    <style type="text/css">
        #controls {
            width: 512px;
        }
        #controlToggle {
            padding-left: 1em;
        }
        #controlToggle li {
            list-style: none;
        }
    </style>

{#    <script src='/static/js/OpenLayers.js'></script>#}
    <script type="text/javascript">
        //all dojo requires
        dojo.require("dojo.ready");
        dojo.require("dojo.dom");
        dojo.require("dojo.parser");
        dojo.require("dijit.layout.ContentPane");
        dojo.require("dijit.layout.BorderContainer");
        dojo.require("dojox.layout.ExpandoPane");
        dojo.require("dojo.data.ItemFileReadStore");
        //dojo.require("dijit.TitlePane");
        //dojo.require("dijit.form.Button");
        //dojo.require("dijit.form.TextBox");
        //dojo.require("dijit.form.CheckBox");
        //dojo.require("dijit.form.HorizontalSlider");
        dojo.require("dijit.layout.BorderContainer");
        dojo.require("dijit.layout.ContentPane");
        dojo.require("dijit.layout.TabContainer");
        dojo.require("dijit.layout.AccordionContainer");

        dojo.require("dojox.grid.DataGrid");


        //    set the layout structure:
        var gridLayout = [
        { field: 'LineLoopEventID', name: 'Line Name', width: '100px' },
        { field: 'Station', name: 'Station', width: '100px' },
        { field: 'Measurement', name: 'Measurement (in)', width: '100px' } //,
        ];

        // create a new grid:
        var attributeGrid = new dojox.grid.DataGrid({
            query: { Title: '*' },
            clientSort: true,
            rowSelector: '20px',
            structure: gridLayout
        }, document.createElement('div'));

        // append the new grid to the div
    //    dojo.byId("taskPane").appendChild(depthOfCoverObject.grid.domNode);

        dojo.byId("adiv").appendChild(attributeGrid.domNode);
{#        attributeGrid.startup();#}




    </script>
  </head>
  <body onload="init()">
    <div id='adiv'></div>
  </body>
</html>