{% extends "template.html" %}
{% block head %}

{%  block head1%}{% endblock head1 %}
<style>

    p {
        text-align: justify;
    }

    #nav_col{
        width:20%;
        display: inline-block;
        vertical-align: top;
    }

    #nav_col ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    #nav_col ul:first-child > a {
        border-top: solid grey;
    }

    #nav_col a {
        display: block;
        width: 100%;
        background: #3a8bb2;
        border-left: solid grey;
        border-right: solid grey;
        border-bottom: solid grey;
        text-decoration:none;
        font-size:14pt;
        color:#fff;
        text-align: center;
        padding: 10px 0px;
    }

    #nav_col a.nav_here{
        background: lightseagreen;
    }

    #nav_col h3{
        text-align: center;
    }



    #right_col{
        display: inline-block;
        width:72%;
        border-left: solid #d3d3d3;
        margin: 10px;
        padding: 10px;
    }

    #about_logos{
        border: solid darkgray;
        border-radius: 15px;
    }

    #about_logos * {
        text-align: center;
    }

    #about_logos > div{
        width: 49%;
        display: inline-block;
        vertical-align: top;
        text-align: center;"
    }

    #about_logos img{
        width: 90%;
    }

    .side_by_side_logo{
        width:46%;
        display: inline-block;
    }

    .side_by_side_logo img{
        width:98%;
    }

    .logo_group{
        border: solid darkgray;
        margin:7px;
        border-radius: 10px;
    }

    .logo_group > img{
        width: 95%;
    }

    .logo_group2 > img{
        width: 60%;
    }

    img{
        margin: 5px;
        vertical-align: center;
    }

    .hide_this{
        display: none;
    }

</style>

{% endblock %}

{% block content %}
    <nav id="nav_col">
        {%  block nav_bar%}{% endblock nav_bar %}
    </nav>
    <div id="right_col">
        {%  block main_content%}{% endblock main_content %}

    </div>
{% endblock %}